<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Статья финансирования</th>
        <th>1 квартал</th>
        <th>2 квартал</th>
        <th>3 квартал</th>
        <th>4 квартал</th>
        <th>Итого</th>
    </tr>

    <tr>
        <td><a href="#">ТОиТР</a></td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>

    <tr>
        <td><a href="#">ДО</a></td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>

    <tr>
        <td><a href="#">Услуги</a></td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>

    <tr>
        <td><a href="#">КР</a></td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>

    <tr>
        <td><a href="#">МТР для КР</a></td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
    </tr>
</table>

<hr>
ТЕСТ<br>
{% for plan in plans %}
    {{ plan }}<br>
{% endfor %}
<br>
фильтр:
<br>
{% for f_plan in filtered_plans %}
    {{ f_plan }}
{% endfor %}
</body>
</html>