{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Удаленные договоры</h1>
<style>
    h1 {
    text-align: center;
    }
    #recovery {
        position: fixed;
        bottom: 30px;
        right: 30px;
        padding: 20px;
        border: 1px solid #000;
}


</style>
<table border="1">
<tr>
        <th>Наименование (предмет) договора, доп соглашения к договору</th>
        <th>Статья финансирования</th>
        <th>Виды деятельности</th>
        <th>Куратор</th>
        <th>Тип договора (центр/филиал)</th>
        <th>Вид договора (основной /допсоглашение)</th>
        <th>Тип закупки(конкурентная/неконкурентная ЕП, безальтернативный поставщик)</th>
        <th>Сумма договора в RUB с НДС</th>
        <th>Контрагент по договору</th>
        <th>Дата удаления</th>
    </tr>

{% for name in contracts %}
<tr>
        <th><input type="checkbox"><a href="{{ name.get_absolute_url }}" id="{{ name.id }}">Договор {{ name.title }}</a></th>
        <th>{{ name.finance_cost }}</th>
        <th>{{ name.activity_form}}</th>
        <th>{{ name.curator }}</th>
        <th>{{ name.contract_type }}</th>
        <th>{{ name.contract_mode }}</th>
        <th>{{ name.purchase_type }}</th>
        <th>{{ name.number_ppz }}</th>
        <th>{{ name.counterpart.name }}</th>
        <th>Дата удаления</th>
</tr>

{% endfor %}

</table>

<input type="submit" id="recovery" value="Восстановить договор">
{% endblock content %}